In [2]:
import pandas as pd
import numpy as np

In [4]:
costos_producion_df = pd.read_csv("db/Costos_producción.csv")
recursos_df = pd.read_csv("db/Recursos.csv")
recursos_new_df = pd.read_csv("db/Recursos_new.csv")

In [5]:
costos_producion_df.head()

   Unnamed: 0  Producto  Costo de producción
0           0        18              1676480
1           1        13              1635176
2           2         4              1764282
3           3        10              1695162
4           4        27              1804233

In [6]:
recursos_df.head()

   Unnamed: 0  Tipo de recurso  Cantidad  Producto
0           0               32        50        36
1           1               40        76        32
2           2               49        68        47
3           3                6        70        10
4           4               20        68        32

In [7]:
recursos_new_df.head()

   Unnamed: 0  Tipo de recurso  Cantidad  Producto
0           0                1        58         1
1           1                2        42         1
2           2                3        99         1
3           3                4        75         1
4           4                5        45         1

In [29]:
 recursos_df.head()

   Unnamed: 0  Tipo de recurso  Cantidad  Producto
0           0               32        50        36
1           1               40        76        32
2           2               49        68        47
3           3                6        70        10
4           4               20        68        32

In [122]:
len(np.array(recursos_df["Tipo de recurso"].unique()))

50

In [128]:
producto_i = np.sort(np.array(recursos_df["Producto"].unique()))
cantidad_j = np.sort(np.array(recursos_df["Tipo de recurso"].unique()))

matriz_A = np.zeros((len(producto_i), len(cantidad_j)), dtype="int")

La matrix en i son los productos y la j o sea las columnas son los tipo recursos, pues asi es un matrix cuadrada

In [129]:
for _, fila in recursos_df.iterrows():
    p = fila["Producto"]
    c = fila["Tipo de recurso"]
    i = np.where(producto_i == p)
    j = np.where(cantidad_j == c)
    matriz_A[i, j] = fila["Cantidad"]

In [132]:
vector_costos = np.array(costos_producion_df["Costo de producción"])
vector_costos

array([1676480, 1635176, 1764282, 1695162, 1804233, 1802411, 1782662,
       1801560, 1729440, 1812504, 1777600, 1817541, 1875284, 1759963,
       1752625, 1792307, 1826130, 1779912, 1719304, 1780502, 1694014,
       1659497, 1697236, 1746407, 1777934, 1778551, 1779345, 1837615,
       1706024, 1743951, 1764231, 1771014, 1698686, 1739332, 1828149,
       1653958, 1700697, 1828692, 1742108, 1853507, 1833116, 1832280,
       1832598, 1808398, 1830959, 1793300, 1788152, 1778015, 1816633,
       1831478])

In [136]:
solucion = np.linalg.solve(matriz_A, vector_costos)
print(solucion)

[ 1.83180779e+04 -1.17445182e+00 -1.60399892e+03  8.12488718e+03
 -2.44625509e+04 -1.25962017e+04 -7.25841822e+03  1.56606688e+03
 -1.62847305e+03 -4.56306958e+02  1.64135497e+04  1.38877337e+04
 -1.99799351e+04  3.69494207e+02 -1.41310292e+04 -7.61927390e+03
 -1.13320245e+04  2.59569128e+04 -2.67462481e+03 -1.83533508e+04
  5.52575151e+03 -5.22941570e+03  3.38098578e+03  4.50641925e+03
  1.44936815e+04  6.30562357e+03  2.55428716e+04  2.31145729e+04
 -2.22458507e+03  2.57407235e+03  2.16712058e+03 -1.60458039e+04
 -1.67235161e+03 -8.16999102e+03  2.54313510e+04 -2.15949356e+04
  1.47211180e+04 -1.79508614e+04  4.56591477e+03 -9.58773624e+03
 -1.16239334e+04 -8.25948602e+03 -1.06657124e+03 -1.33863189e+04
 -8.80085921e+03  1.32768368e+04  7.98631096e+03 -1.03619639e+04
  2.51409880e+03  4.51252802e+04]

In [137]:
recursos_new_df

      Unnamed: 0  Tipo de recurso  Cantidad  Producto
0              0                1        58         1
1              1                2        42         1
2              2                3        99         1
3              3                4        75         1
4              4                5        45         1
...          ...              ...       ...       ...
2495        2495               46         9        50
2496        2496               47         3        50
2497        2497               48        45        50
2498        2498               49        87        50
2499        2499               50        93        50

[2500 rows x 4 columns]

In [138]:
producto_i = np.sort(np.array(recursos_new_df["Producto"].unique()))
cantidad_j = np.sort(np.array(recursos_new_df["Tipo de recurso"].unique()))

matriz_B = np.zeros((len(producto_i), len(cantidad_j)), dtype="int")

In [141]:
for _, fila in recursos_new_df.iterrows():
    p = fila["Producto"]
    c = fila["Tipo de recurso"]
    i = np.where(producto_i == p)
    j = np.where(cantidad_j == c)
    matriz_B[i, j] = fila["Cantidad"]

(50, 50)

In [143]:
resultado = matriz_B @ solucion

In [145]:
print(resultado)

[-1812840.58689769  3353199.5982858    558390.54812587   601831.20943145
  1571662.30953791  1338618.50775684   605571.48843871  3136086.05684829
  -448457.96811602  2087810.85714587    92170.01195038  7016767.49074741
 -1461968.22832508  2019019.80330734  3914970.66947671  2309801.42400736
 -4339055.62426131   827127.81831953  4336591.62898771   311389.53173279
  3132255.09450392  6301557.84541541 -1591002.04631486  3691926.36627188
  -210951.03838301  4796288.27711885  7422901.84879031  3453776.52879532
    63670.79626253 -2521533.09038528  -110900.3353209   1929415.61194039
  5343122.36752586 -2573040.57766557  1068560.74843865  3351141.06500515
  6575182.94905045  1722821.60661094  2176555.99900989  2082369.05347137
  2036989.21591279  4129520.69308186  1108409.95477892  1325914.30715274
 -4034529.97827449  4952490.50243249   684632.10978166 -1683414.45942243
  5926961.53230814  3190900.03320495]